<h4>Internal Server Error - refreshing the page will help!</h4>
<ng-container *ngIf="error" >
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: Propably not Angular fault</p>
    <p>What to do now?</p>
    <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reporduce the error in Postman - if response will be the same its not Angular fault</li>
    </ol>
    <p>Following is the stack trace - start investigation</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
